.container {
    width: 700px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: 3px dotted goldenrod;
    border-radius: 10px;
    margin-top: 50px;
    }

    h2:hover, h6:hover {
    color:royalblue; 
    text-decoration:none; 
    cursor:pointer;  
}