.container {
    width: 750px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    border: 3px dotted goldenrod;
    border-radius: 10px;
    margin-top: 50px;
    }

    h2:hover, h6:hover {
    color:royalblue; 
    text-decoration:none; 
    cursor:pointer;  
}